body {
/* background-color: gainsboro; */
height: 3000px;
background: linear-gradient(55deg, #96f0ea 0%, #23a3b1 51%, #0584b3 85%);
}
.important-note {
    font-weight: bold;
    text-align: center;
}

.hint-text {
    font-style: italic;
}

.question-card {
    border: 3px solid oldlace;
    /* border: 3px solid rgb(184, 153, 96); */
    padding: 8px;
    margin: 10px auto;
    width: 35%;
}
.not-active {
    display: none;
}
/* style.backgroundImage = "url('img_tree.png')"; */
/* .first-ques-bg {
    height: 500px;
    width: 800px;
    
} */
.welcome-box{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    background-image: url('images/first_modal.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
}

.welcome-text{
    text-align: center;
    margin: 0 auto;
}

.welcome-button {
    border-radius: 4px;
    border: 1px dotted paleturquoise;
}

.pop-up-img {
    width: 1020px !important;
    height: 100% !important;
    position: relative !important;
    top: 0;
    left: -10;
}

.ui-dialog{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1050px !important;
}